/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source Sans Pro&display=swap');

body {
  font-family: Source Sans Pro, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* Estilos para el encabezado */
header {
  text-align: center;
  padding: 20px;
  background-color: #000000; /* Negro */
}

header img {
  max-width: 100%;
  height: auto;
  display: block; /* Para centrar la imagen horizontalmente */
  margin: 0 auto; /* Para centrar la imagen horizontalmente */
}

header h1 {
  color: #f9c22e; /* Amarillo */
}

header p {
  color: #f9c22e; /* Amarillo */
  font-family: 'Brush Script MT', cursive;
  font-size: 1.8rem;
}

.highlighted-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  height: auto;
  overflow: auto;
  flex-direction: row;
  margin-top: 20px;
}

.product {
  width: 300px;
  height: auto;
  margin: 20px;
  padding: 10px;
  border: 1px solid #dfdfdf;
  -webkit-transition : border 500ms ease-out;
  -moz-transition : border 500ms ease-out;
  -o-transition : border 500ms ease-out;
  transition : border 500ms ease-out;
  color: #888;
}

.product:hover {
  border: 1px solid #a8a8a8;
}

.product a:link {
  
}

.product h2 {
  margin: 10px 0;
  color: #000;
  font-family: Staatliches;
  font-size: 16px;
}

.product p {
  text-align: justify;
  font-family: Source Sans Pro, sans-serif;
}

.product p.price {
  color: #000;
  font-weight: bold;
}

.product a {
  display: inline-block;
  color: #888;
  text-decoration: none;
}

svg.whatsapp {
  position: fixed;
  bottom: 150px;
  right: 15px;
  cursor: pointer;
  z-index: 99999999;
}

/* Estilos para las categorías */
.categories {
  background-color: #f8f8f8;
  padding: 20px 0;
  text-align: center;
}

.categories h2 {
  color: #f9c22e; /* Amarillo */
  margin-bottom: 20px;
}

.category {
  margin: 20px;
}

.category img {
  max-width: 100%;
  height: auto;
}

.category h3 {
  margin: 10px 0;
}

.category a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #f9c22e; /* Amarillo */
  color: #000000; /* Negro */
  text-decoration: none;
  border-radius: 5px;
}

/* Estilos para la sección "Acerca de Nosotros" */
.about-us {
  text-align: center;
  padding: 20px;
}

.about-us img {
  width: 100%;
  max-width: 500px; /* Ajusta este valor según tu diseño */
  height: auto;
  display: block;
  margin: 0 auto 20px;
}

.about-us h2 {
  color: #f9c22e; /* Amarillo */
  margin-bottom: 20px;
}

.about-us p {
  margin: 0 auto;
  max-width: 90%;
}

/* Estilos para el formulario de suscripción */
.subscribe {
  text-align: center;
  padding: 20px 0;
}

.subscribe h2 {
  color: #f9c22e; /* Amarillo */
  margin-bottom: 20px;
}

.subscribe p {
  margin: 0 auto;
  max-width: 90%;
}

.subscribe form {
  margin-top: 20px;
}

.subscribe input[type="email"] {
  padding: 8px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.subscribe button {
  padding: 8px 16px;
  background-color: #f9c22e; /* Amarillo */
  color: #000000; /* Negro */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para el pie de página */
footer {
  background-color: #000000; /* Negro */
  color: white;
  text-align: center;
  padding: 20px 0;
}

.social-links {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.social-links li {
  display: inline-block;
  margin: 0 10px;
}

.social-links a {
  color: white;
  text-decoration: none;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
  header {
    padding: 10px;
  }

  .product, .category {
    margin: 10px;
  }
}

/* Estilos para las imágenes de productos */
/* Estilos para las imágenes de productos */
.product-image {
  display: block; /* Hace que las imágenes sean elementos de bloque */
  margin: 0 auto; /* Centra las imágenes horizontalmente */
  width: 10; /* Establece el tamaño máximo para las imágenes (ajusta el valor según tu preferencia) */
  height: 10; /* Mantiene la proporción de aspecto original de las imágenes */
}

